<div class="show-button-holder">
  <%= link_to "Back", lists_path, class: "back-button btn btn-primary" %>
  <button class="add-new-bookmark-button btn btn-success">Add a bookmark</button>
</div>



<% if @list.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 500, crop: :fill %>')"></div>
<% else %>
  <div class="height-no-photo"></div>
<% end %>

<div class="bookmark-popup card p-2 d-none">
  <h4 class="text-center">Add a bookmark</h4>
  <%= render "new_bookmark" %>
</div>

<div class="d-flex justify-content-center w-100">
  <h1><%= @list.name %></h1>
</div>

<div class="w-100 row d-flex justify-content-center">
  <% @bookmarks.each do |bookmark| %>
    <div class="card col-3 p-3 m-3">
      <img src="<%= bookmark.movie.poster_url %>" alt="">
      <h5 class="mt-2 text-center"><%= bookmark.movie.title %></h5>
      <p><strong>Overview:</strong> <%= bookmark.movie.overview %></p>
      <p><strong>Rating:</strong> <%= bookmark.movie.rating %></p>
      <p><Strong>Comment:</Strong> <%= bookmark.comment %></p>
      <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you really sure you want to delete me?" }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>


<%= javascript_include_tag "show" %>
