<%= link_to "Back", lists_path %>

<% if @list.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')"></div>
<% end %>

<%= render "new_bookmark" %>


<% @bookmarks.each do |bookmark| %>
  <div class="card w-25">
    <img src="<%= bookmark.movie.poster_url %>" alt="">
    <p><%= bookmark.movie.title %></p>
    <p>Overview: <%= bookmark.movie.overview %></p>
    <p>Rating: <%= bookmark.movie.rating %></p>
    <p>Comment: <%= bookmark.comment %></p>
    <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you really sure you want to delete me?" } %>
  </div>
<% end %>
