<div class="show-button-holder">
  <%= link_to "Back", lists_path, class: "back-button btn btn-primary" %>
  <button class="add-new-bookmark-button btn btn-success">Add a bookmark</button>
</div>
<%= link_to "Delete list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you really sure you want to delete me?" }, class: "list-delete-button btn btn-danger" %>


<% if @list.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 500, crop: :fill %>')"></div>
<% else %>
  <div class="height-no-photo"></div>
<% end %>

<div class="bookmark-popup card p-2 d-none">
  <h4 class="text-center">Add a bookmark</h4>
  <%= render "new_bookmark" %>
</div>

<div class="d-flex justify-content-center w-100">
  <h1><%= @list.name %></h1>
</div>

<div class="w-100 row d-flex justify-content-center">
  <% @bookmarks.each do |bookmark| %>
    <div class="bookmark card col-3 p-3 m-3" data-id="<%= bookmark.id %>">
      <img src="<%= bookmark.movie.poster_url %>" alt="">
      <h5 class="mt-2 text-center"><%= bookmark.movie.title %></h5>
      <p><strong>Overview:</strong> <%= bookmark.movie.overview %></p>
      <p><strong>Rating:</strong> <%= bookmark.movie.rating %></p>
      <p><Strong>Comment:</Strong> <%= bookmark.comment %></p>
      <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you really sure you want to delete me?" }, class: "btn btn-danger" %>
      <button class="review-button btn btn-primary mt-2">Leave a review</button>
      <div class="add-review-div d-flex justify-content-center d-none mt-2">
        <form action="<%= @list.id %>/reviews" method="POST" class="d-flex flex-column align-items-center justify-content-center">
          <input type="text" name="content">
          <input type="hidden" name="bookmark_id" value="<%= bookmark.id %>">
          <input type="submit" class="btn btn-success mt-2" value="Submit review">
        </form>
      </div>
      <% if bookmark.reviews %>
      <button class="show-reviews-button mt-2 btn btn-success">Show reviews</button>
        <div class="reviews-div mt-2 d-none">
          <% bookmark.reviews.each do |review| %>
            <p class="text-center mt-1">"<%= review.content %>"</p>
          <% end %>
        </div>
      <% end %>


    </div>
  <% end %>
</div>


<%= javascript_include_tag "show" %>
<%= javascript_include_tag "reviews" %>
